[Desktop Entry]
Name=Clonator
Comment=Utility for backup and copy hard disks
Exec=gksudo /usr/bin/python main.py
Icon=/home/clonlab/clonator/icon.png
Path=/home/clonlab/clonator/
Terminal=false
Type=Application
